{% extends 'base.html' %}
{% block content %}

<h1>Form</h1>
    <form action="/add-books/" method="POST">
        {%csrf_token%}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" ><br><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" ><br><br>

        <label for="isbn">Isbn:</label><br>
        <input type="text" id="isbn" name="isbn"><br><br>

        <label for="pages">Pages:</label><br>
        <input type="text" id="pages" name="pages"><br><br>

        <input type="submit" value="Submit">
      </form>

<br>
<br>
<h3>Name | Author | ISBN | PAGES | Action</h3>
{% for book in books%}
{{book.name}}  |
{{book.author}}  |
{{book.isbn}}  |
{{book.pages}}  |
<a href="edit-book/{{book.id}}">✏️</a>
<a href="delete-book/{{book.id}}">🗑</a>
<br>
{% endfor %}


{% for book in page_obj.object_list %}
          {# note that the list of posts are in the page_obj.object_list not page_obj #}
            <h1>{{book.name}}</h1>
            <small>{{book.author}}</small>
            <hr/>
{% endfor %}
    </div>
    <center>
        {%if page_obj.has_previous %} 
            <a href="?page={{page_obj.previous_page_number}}"><</a> 
        {% endif %}
        <span>{{page_obj.number}}</span> 
        
        {%if page_obj.has_next %} 
            <a href="?page={{page_obj.next_page_number}}">></a>
        {% endif %}
    <center/>
{% endblock %}

